@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<p>
    <h1>@ViewData["Title"]</h1>
    <p>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </p>
</p>
