@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<p>
    <h3>@ViewData["Title"]</h3>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
