@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<p>
    <h3>Set your password</h3>
    <p>
        <partial name="_StatusMessage" for="StatusMessage" />
    </p>
    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>
    <div class="row">
        <div class="col-md-6">
            <p>
                <form id="set-password-form" method="post">
                    <p>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </p>
                    <div class="form-floating mb-3">
                        <p>
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-floating mb-3">
                        <p>
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </p>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Set password</button>
                </form>
            </p>
        </div>
    </div>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
