@page "/Projects/ChickenPolice"

<PageTitle>Kerry Shale Fanpage: Chicken Police</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">Chicken Police<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					A collection of current projects where Mr Shale is working on, or where he is involved.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					Chicken Police is a videogame series by The Wild Gentlemen, available for different gaming platforms. The main characters of the series are Sonny Featherland and Marty McChicken.
				</p>
				<p>
					Mr Shale portrays Sonny Featherland. "Chicken Police: Into The HIVE!" is the second game of this videogame series and is going to be released sometime in 2024. Stay tuned. A free demo of the game could be
					played at Steam Next Fest from 5 to 12 February 2024.
				</p>
				<p>
					Please follow them on Bluesky, they are very kind and love to be in touch with fans.<br />
					- <a href="https://bsky.app/profile/chickenpolice.bsky.social" target="_blank">Chicken Police on Bluesky</a><br />
					[Bluesky is accessible without invite code now.]
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/img_3.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 text-black-100">
						<p>
							Game trailer:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/Alt5JsimUbY?si=yw3n_W5HZT9Z92HN"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<p>
							Steam Next Fest demo trailer:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/MjTIFaP7JnQ?si=zDateQnoceUVLLQH"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>