@page "/Projects/DylanPodcast"

<PageTitle>Kerry Shale Fanpage: Dylan Podcast</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">Bob Dylan Podcast<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-7">
				<p class="text-black-50">
					A collection of current projects where Mr Shale is working on, or where he is involved.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					The "Is It Rolling, Bob? Talking Dylan" podcast is a private project by Mr Shale. The podcast is hosted by the actor Lucas Hare and him. Usually, the episodes are published in a four-week cycle. 
					Due to the reasons of personal health, the podcast is on extended hiatus at the moment. I think it might have to do with the fact that Mr Shale has to voice about 30 different characters for "The Amazing World Of Gumball" 
					series 7 and the movie at the moment which causes that he needs to rest his voice whenever it is possible.
				</p>
				<p>
					Mr Shale and Mr Hare talk with famous people about Bob Dylan. Many of those guests have met Bob Dylan in person and have interesting stories to tell.
				</p>
				<p>
					Since the podcast is a project of Mr Shale and Mr Hare, they do own the copyright.
				</p>
				<p>
					Please follow them on Bluesky if you are a Bob Dylan fan.<br />
					- <a href="https://bsky.app/profile/isitrollingpod.bsky.social" target="_blank">Is It Rolling, Bob? Talking Dylan on Bluesky</a><br />
					[Bluesky is accessible without invite code now.]
				</p>
				<p>
					<BSAlert Color="BSColor.Warning">If you are a Kerry Shale fan like me, please be careful when following them on Bluesky. They can hit the block button very fast if you send them only one Kerry Shale fan comment. 
						Better follow them on the official podcast platforms instead. As the name of the podcast tells, they are only searching for Bob Dylan fans there. Bob Dylan fans are not a problem. If you have the urgent need to follow them on Bluesky, 
						please do it silently. You do them and yourself a favor. Same if you are a Lucas Hare fan.</BSAlert>
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/img_5.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6 col-md-3 col-lg-2">
						<div class="single-portfolio">
							<a href="https://podcasts.apple.com/gb/podcast/is-it-rolling-bob-talking-dylan/id1437321669" target="_blank">
								<img src="images/apple.png" alt="Image" class="img-fluid rounded-3 my-2 my-md-0">
							</a>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-2">
						<div class="single-portfolio">
							<a href="https://www.audible.com/pd/Is-It-Rolling-Bob-Talking-Dylan-Podcast/B08K55FR8D" target="_blank">
								<img src="images/audible.png" alt="Image" class="img-fluid rounded-3 my-2 my-md-0">
							</a>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-2">
						<div class="single-portfolio">
							<a href="https://shows.acast.com/63d0e60777d9ee0011a4f45b" target="_blank">
								<img src="images/acast.png" alt="Image" class="img-fluid rounded-3 my-2 my-md-0">
							</a>
						</div>
					</div>
					<div class="col-6 col-md-3 col-lg-2">
						<div class="single-portfolio">
							<a href="https://open.spotify.com/show/5wlxQqMAIgsPu4OMp0yG0j" target="_blank">
								<img src="images/spotify.png" alt="Image" class="img-fluid rounded-3 my-2 my-md-0">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>