@page "/Projects/Gumball"

<PageTitle>Kerry Shale Fanpage: The Amazing World Of Gumball</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">Gumball<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					A collection of current projects where Mr Shale is working on, or where he is involved.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					"The Amazing World of Gumball" is a comic series by Frank Gibson (author) and Tyson Hesse (illustrator) for Cartoon Network, published by BOOM! Studios.
				</p>
				<p>
					Mr Shale voices many characters in the comic series, such as Larry Needlemeyer / Leslie / Harold Wilson / Bobert / Hector Jotunheim / Colin / Idaho / Sal Left Thumb /
					Sun / Alan Keane / Shooting Star / Bandage paramedics / Cupcake Man / George / Goblin / Gray Man / Gumball's brain / Harold Simon / Vladus Lokowitchki / Virus / 
					Julius Oppenheimer Jr. / Mike the microphone guy / Mowdown / Paramedic Eddie / Quattro Pepperoni / Russian agents / Reaper.<br />
					Series 7 is currently in production. Hopefully, there will be more series in the future.
				</p>
				<p>
					Official website of "The Amazing World of Gumball". <br />
					- <a href="https://www.cartoonnetworkme.com/show/gumball" target="_blank">The Amazing World of Gumball (CN)</a><br />
				</p>
				<p>
					"The Amazing World of Gumball: The Movie" is currently in production, too. <br />
					- Release date (UK): 7 September 2024 <br />
					- Release date (USA): 13 December 2024 <br />
					- <a href="https://www.imdb.com/title/tt14317038/" target="_blank">The Amazing World of Gumball: The Movie on IMDb</a><br />
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/img_2.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 text-black-100">
						<p>
							Comic series trailer:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/Icq2LLOPoTo?si=Xn4HK_7xux_rRSnY"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<p>
							New movie details:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/HYk1Ex9eNPo?si=lcNLrQIJTYxltr2O"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>