@page "/Projects/IceAirportAlaska"

<PageTitle>Kerry Shale Fanpage: Ice Airport Alaska</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">Ice Airport Alaska<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					A collection of current projects where Mr Shale is working on, or where he is involved.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					Ice Airport Alaska is a documentation TV series by Rare TV for Smithsonian Channel (Paramount Plus). It is about the Ted Stevens Anchorage International Airport where the staff work under very harsh conditions.
				</p>
				<p>
					Mr Shale is the narrator for the whole TV series. Series 5 was just finished for Smithsonian Channel.
				</p>
				<p>
					Official website of "Ice Airport Alaska". <br />
					- <a href="https://www.smithsonianchannel.com/shows/ice-airport-alaska" target="_blank">Ice Airport Alaska (SC)</a><br />
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/img_4.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 text-black-100">
						<p>
							Ice Airport Alaska demo, narrated by Mr Shale:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/lYQh-Lhle94?si=BsTbNfbObMAxVpPZ"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<p>
							Full Ice Airport Alaska episode, narrated by Mr Shale:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/4dqQli_E5q0?si=XbCrMhgYg_NOuUYI"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>