@page "/Projects/Sandman"

<PageTitle>Kerry Shale Fanpage: The Sandman</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">The Sandman<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					A collection of current projects where Mr Shale is working on, or where he is involved.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					The Sandman is an American fantasy drama TV and audiobook series based on the 1989–1996 comic book written by Neil Gaiman, published by DC Comics. The series was developed by Gaiman, 
					David S. Goyer, and Allan Heinberg for the streaming service Netflix and is produced by DC Entertainment &amp; Warner Bros. Television. The Sandman tells the story of Dream / Morpheus, the titular Sandman.
				</p>
				<p>
					In the TV series, the character Nimrod is portrayed by Mr Shale. He can be seen in Season 1 in the 3 episodes "S01E07 The Doll's House", "S01E09 Collectors", and "S01E10 Lost Hearts".
				</p>
				<p>
					In the audiobook series, Mr Shale voices several characters, such as Abel / Azazel / Brute / Creeper / Etrigan / Harold Smith / Lee / Marsh / Monk / Puck / Scott Free / Security Guard #2. 
					Mr Shale plays in Act I to Act IV of the audiobook series. Act I to Act III are available at Audible / Amazon, either as download or as MP3 CDs. <br />
					The production of Act IV was finished at the beginning of the year 2024 and is currently waiting for release (most probably sometime in 2024). Stay tuned. Hopefully, there will be more acts.
				</p>
				<p>
					Please follow them on Bluesky, they are very kind people. <br />
					- <a href="https://bsky.app/profile/neilhimself.neilgaiman.com" target="_blank">Neil Gaiman on Bluesky</a><br />
					- <a href="https://bsky.app/profile/dirkmaggs.bsky.social" target="_blank">Dirk Maggs on Bluesky</a><br />
					[Bluesky is accessible without invite code now.]
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/img_1.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 text-black-100">
						<p>
							TV series trailer:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/ZJXamnPUm0I?si=nA1y3w_-4hshPRV0"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<p>
							Audiobook series trailer:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/yS4mGesO2m4?si=cT_-w8SwftwZBW4x"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>