@page "/News"
@using de.jweschenfelder.KSFP.Shared.Objects
@using de.jweschenfelder.KSFP.Web.Interfaces.BusinessLogic
@inject IGenericService<GalleryItemDto> GalleryService

<PageTitle>Kerry Shale Fanpage: News</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">News<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					Some news about Mr Shale.
				</p>
			</div>
		</div>

		<div class="row mb-5 justify-content-between">
			<div class="col-lg-6 text-black-100 order-lg-2">
				<p>
					Do not miss it!
					Kerry Shale in 'Angel Has Fallen'.<br />
					<strong>
						16 March 2024 on RTÉ 2 (UK).<br />
						At 22:45.<br />
					</strong>
				</p>
				<p>
					"Mike Banning, a secret service agent, is assigned to protect the US president. Things take a turn when Mike is falsely accused of carrying out an attack against the president while on a fishing trip.<br /><br />
					Mike Banning ...... Gerard Butler<br />
					President Trumbull ...... Morgan Freeman<br />
					Admiral Paul Sebring ...... Kerry Shale<br /><br />
					Directed by Ric Roman Waugh<br />
					Produced by Gerard Butler, Alan Siegel, Matt O'Toole, John Thompson, Les Weldon, Yariv Lerner<br /><br />
					The film was released in the United States on 23 August 2019."
				</p>
				<p>
					Wikipedia link: <br />
					- <a href="https://en.wikipedia.org/wiki/Angel_Has_Fallen" target="_blank">Angel Has Fallen (Wikipedia)</a><br />
				</p>
			</div>
			<div class="col-lg-5 ps-lg-4 float-start">
				<img src="images/AngelHasFallen.jpg" alt="Image" class="img-fluid rounded-3">
			</div>
		</div>

		<div class="section py-0">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 text-black-100">
						<p>
							Angel Has Fallen, with Mr Shale:
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/OFen_1H7V1M?si=k9XQfl_5mhCo_2or"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
					<div class="col-lg-5 text-black-100">
						<p>
							Angel Has Fallen trailer (Lionsgate):
						</p>
						<p>
							<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/l4AQchYSxwc?si=jCxNAfJ0getQo1zK"
									title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="rounded-3"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}