@page "/News"
@using de.jweschenfelder.KSFP.Shared.Objects
@using de.jweschenfelder.KSFP.Web.Interfaces.BusinessLogic
@inject IGenericService<GalleryItemDto> GalleryService

<PageTitle>Kerry Shale Fanpage: News</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">News<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					Some news about Mr Shale.
				</p>
			</div>
		</div>

		<div>
			<div class="row mb-5 justify-content-between">
				<div class="col-lg-6 text-black-100 order-lg-2">
					<p>
						<strong>(1) FREE THINKING: </strong>Pranks<br /><br />
						<strong>
							Thu 28 Mar 2024, at 22:00, on BBC Radio 3
						</strong><br /><br />
						Producer: Torquil MacLeod<br />
						The Girl Prince: Virginia Woolf, Race and the Dreadnought Hoax by Danell Jones is out now.<br />
						Simon Brodkin's 'Screwed Up' tour continues throughout the UK from May onwards.
					</p>
					<p>
						In 1910 Virginia Woolf and a group of friends caused a stir when they were welcomed on board the HMS Dreadnought, disguised as a delegation of Abyssinian royalty. At the 2017 Conservative Party conference, Theresa May was handed a P45 in the middle of giving her speech. Both these events made the headlines, but what was the intention behind them and did they have any impact beyond provoking either amusement or outrage? Matthew Sweet is joined by Danell Jones who has looked in detail at the Dreadnought Hoax, Simon Brodkin who has staged various high profile stunts including delivering Theresa May's P45 and Kerry Shale whose father was an inveterate prankster who sold practical jokes for a living.
					</p>
					<p>
						More information: <br />
						- <a href="https://www.bbc.co.uk/programmes/m001xf0r" target="_blank">https://www.bbc.co.uk/programmes/m001xf0r</a> <br />
						- <a href="https://genome.ch.bbc.co.uk/m001xf0r" target="_blank">https://genome.ch.bbc.co.uk/m001xf0r</a>
					</p>
				</div>
				<div class="col-lg-5 ps-lg-4 float-start">
					<img src="images/FreeThinking.jpg" alt="Image" class="img-fluid rounded-3">
				</div>
			</div>
		</div>

		<hr />

		<div>
			<div class="row my-5 justify-content-between">
				<div class="col-lg-6 text-black-100 order-lg-2">
					<p>
						<strong>(2) Shakespeare in a Divided America by James Shapiro</strong> (Omnibus)<br /><br />
						<strong>
							Sat 6th Apr 2024, at 07:30, on BBC Radio 4 Extra<br />
							Sat 6th Apr 2024, at 12:30, on BBC Radio 4 Extra (RPT)<br />
							Sat 6th Apr 2024, at 18:30, on BBC Radio 4 Extra (RPT)<br />
							Sun 7th Apr 2024, at 02:30, on BBC Radio 4 Extra (RPT)
						</strong><br /><br />
						Written by James Shapiro<br />
						Read by Kerry Shale<br /><br />
						Produced by Lizzie Davies<br />
						An omnibus of five parts abridged by Kerry Shale and Jill Waters<br />
						A Waters Company production for BBC Radio 4, first broadcast in March 2020.
					</p>
					<p>
						Leading scholar James Shapiro makes a timely exploration of what Shakespeare’s plays reveal about deep divisions in the United States - from revolutionary times to the present day.<br />
						The plays of William Shakespeare are rare common ground in the United States. They are read at school by almost every student, staged in theatres across the country, and valued by conservatives and liberals alike. For well over two centuries, Americans of all stripes - presidents and activists, writers and soldiers - have turned to Shakespeare’s works to explore the nation’s fault lines, including issues such as race, gender, immigration, and free speech.<br />
						In a narrative arching across the centuries, from revolutionary times to the present day, James Shapiro traces the unparalleled role of Shakespeare’s 400 year-old tragedies and comedies in illuminating the concerns on which American identity has turned.<br />
						Deeply researched, Shakespeare in a Divided America reveals how no writer has been more closely embraced by Americans, or has shed more light on the pressing issues in their history. Shapiro argues it is by better understanding of Shakespeare’s role in American life that Americans might begin to mend their bitterly divided land.
					</p>
					<p>
						More information: <br />
						- <a href="https://www.bbc.co.uk/programmes/m000gncz" target="_blank">https://www.bbc.co.uk/programmes/m000gncz</a> <br />
						- <a href="https://genome.ch.bbc.co.uk/m000gncz" target="_blank">https://genome.ch.bbc.co.uk/m000gncz</a>
					</p>
				</div>
				<div class="col-lg-5 ps-lg-4 float-start">
					<img src="images/Shapiro.jpg" alt="Image" class="img-fluid rounded-3">
				</div>
			</div>
		</div>

		<hr />

		<div>
			<div class="row my-5 justify-content-between">
				<div class="col-lg-6 text-black-100 order-lg-2">
					<p>
						<strong>(3) BRETTCON: </strong>Celebrating the 40th Anniversary of Granada's Sherlock Holmes<br />
						Organized and carried out by <a href="http://sherlockpodcast.com" target="_blank">The Jeremy Brett Sherlock Holmes Podcast</a>.<br /><br />
						<strong>
							Sat 25 May 2024, at 9:30 - 21:00
						</strong><br />
						Event location: Mayhew Theatre<br />
						Guildford County School<br />
						Farnham Road<br />
						Guildford<br />
						GU2 4LU<br />
						United Kingdom
					</p>
					<p class="mb-0 pb-0">
						Get Tickets: <a href="https://www.tickettailor.com/events/thejeremybrettsherlockholmespodcast/1108881" target="_blank">https://www.tickettailor.com/events/thejeremybrettsherlockholmespodcast/1108881</a> <br /><br />
						I would like to inform you about the entry prices beforehand because it is quite pricey:
					</p>
					<ul class="mt-0 pt-0">
						<li>
							General Admission: <strong>£ 125.00</strong> &nbsp; (This ticket allows you access to the event, Q & A Panels, meet & greets, dinner, and the screening.)
						</li>
						<li>
							VIP Entry: <strong>£ 250.00</strong> &nbsp; (As well as entry to all activities, you will get priority seating, free merch and a special photo op.)
						</li>
						<li>
							Photo sessions: £ 5.00 to £ 10.00.
						</li>
					</ul>
					<p>
						More information: <a href="http://sherlockpodcast.com/index.php/2024/02/16/brettcon" target="_blank">http://sherlockpodcast.com/index.php/2024/02/16/brettcon</a>
					</p>
					<p>
						Our Kerry Shale will not be there as it seems, but maybe you have an interest in it. <br />Kerry Shale had played in the episode "The Red Circle", he is part of that TV series.
					</p>
				</div>
				<div class="col-lg-5 ps-lg-4 float-start">
					<img src="images/BrettCon.jpg" alt="Image" class="img-fluid rounded-3">
				</div>
			</div>

			<div class="section py-0">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5 text-black-100">
							<p>
								BRETTCON: 40th Anniversary of Sherlock Holmes (Granada TV) trailer:
							</p>
							<p>
								<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/9SBj8CU7etM?si=qgsV_1qZ3zxyDZE8"
										title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen class="rounded-3"></iframe>
							</p>
						</div>
						<div class="col-lg-5 text-black-100">
							<p>
								"Sherlock Holmes" intro:
							</p>
							<p>
								<iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/34sPW1azwOo?si=TJdkc9xo7FPEqmJB"
										title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen class="rounded-3"></iframe>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@code {

}