@page "/Quotes"

<PageTitle>Kerry Shale Fanpage: Quotes</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-lg-4">
                <h2 class="heading">Quotes<span class="text-primary">.</span> </h2>
            </div>
            <div class="col-lg-4">
                <p class="text-black-50">
                    Some original quotes from Mr Shale.
                </p>
            </div>
        </div>
        
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "It took over 30 years to write [the play] because I was actually left quite bruised by the experience [...] Eventually I did a lot of research into Kubrick and got to understand him better than I could have possibly understood him at the time and understanding him made me realize what he was doing." -- Kerry Shale about The Kubrick Test<br />[from SlashFilm, 26 Dec 2022]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "Because I've got a kind of educated Midwest accent, most people in England think I'm from upstate New York and I do not do a lot to dissuade them, though I generally say I'm from Minneapolis, which is closest to Winnipeg, where I grew up." -- Kerry Shale<br />[from The Vancouver Sun, 4 Sep 1999]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "What is really funny, though, is seeing British actors trying to do Canadian accents. They sit there with tapes of the Mackenzie brothers going 'ya hoser' and 'eh?'. I tell them, they don't all talk like that.<br />Throw it away." -- Kerry Shale<br />[from The Vancouver Sun, 4 Sep 1999]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "I've played a hell of a lot of Americans in British theatres for over thirty years. But funnily enough, when I worked at The National Theatre they cast me as Czechoslovakian, not American." -- Kerry Shale<br />[from his old website prior 2015]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "I used to dub a lot of films, including Jackie Chan's early Hong Kong stuff. I once re-voiced a 6 foot 4 inch villain in a Bond flick<br />(I'm 5 foot 4 but I can sound 6 foot 4)." -- Kerry Shale<br />[from his old website prior 2015]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
            <BSCarouselItem Interval="15000">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#333"></rect>
                    <foreignObject x="25%" y="5%" width="50%" height="90%">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                             class="w-100 h-100 fs-5 text-white vertical-center-container">
                            <div class="w-100 vertical-center text-center">
                                <p>
                                    "When you go into Starbucks, channelling Donald Trump is not going to get you anywhere. It's just going to get you bad service." -- Kerry Shale<br />[from The Financial Times, 3 July 2023]
                                </p>
                            </div>
                        </div>
                    </foreignObject>
                </svg>
            </BSCarouselItem>
        </BSCarousel>
	</div>
</div>
