<div>
    <AuthorizeView>
        <Authorized>
            <div class="d-flex gap-4 text-white">
                <a href="Identity/Account/Manage" Class="text-white">Hello, @context.User.Identity?.Name!</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 text-white">Log out</button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="d-flex gap-4 text-white">
                <a href="#" Class="text-white">Register</a> @*<MudLink Href="Identity/Account/Register" Class="text-white">Register</MudLink>*@
                <a href="#" Class="text-white">Login</a> @*<MudLink Href="Identity/Account/Login" Class="text-white">Log in</MudLink>*@
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
