@inherits LayoutComponentBase

<div class="page">
    <div>
        <div>
            <div class="d-flex justify-start flex-grow-1 gap-4">
                <div Icon="icon" Color="Color.Inherit" Edge="Edge.Start" />
                Kerry Shale Fanpage
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>
        <div>
            <NavMenu />
        </div>
        <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>
</div>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
